
<div id="app">
  <section class="section">
  <div class="container">
  
    <p class="title">
      Programs
    </p>
    <p class="subtitle">
     Some subtitle here explainig the purpose of a program
    </p>


    <table class="table is-fullwidth is-bordered is-striped mt-6">
      <thead>
        <tr>
          <th>Title</th>
        </tr>
      </thead>
      
      <tbody>
        {% for program in site.programs %}
        <tr>     
          <td> 
            <a href="{{program.url}}"> <h1>{{ program.title }}</h1> </a>
            <div class="description-text"> </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

</section>
</div>
