@import "theme/_main";

// You can add additional styling here

#map { height: 400px; }

#map-bounding-box { height: 400px; }

//.container a {text-decoration: underline;}
.tag a {color: white}

[v-cloak] {
    display: none;
  }
.contact-list:not(:last-child):after {
  font-style: normal;
    content: '\25CF';
}  

.statistic .feature-img {
  width: 40%
} 

.is-orange {
  color: #f26641
}
.is-green {
  color: #8BC751
}
.header-description {
  font-size: 82%;
  margin-top: 34px;
  width: 850px;
  padding: 0 32px;
  margin: auto;
  font-weight: bold;
  color: #4a4a4a;
}
.floatingHero {
  color: #00000000 !important
}
.navbar--hasWhiteText .navbar-item:visited {
  background-color: #303030;
}
