@import "theme/_main";

// You can add additional styling here

#map { height: 400px; }

#map-bounding-box { height: 400px; }

//.container a {text-decoration: underline;}
.tag a {color: white}

[v-cloak] {
    display: none;
  }
.contact-list:not(:last-child):after {
  font-style: normal;
    content: '\25CF';
}  