<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
</head>
<html>

  {% include themeHead.html %}

  <body>
    {% include navbar.html %}

    <main>
      <div class="section">
      <div class="container">
        <p class="title">
          {{ page.title}}
        </p>
        
        
          
        {{ content | replace: '<h1', '<h1 class="is-size-2 my-2"' | replace: '<h2', '<h2 class="is-size-3 my-2"' | replace: '<h3', '<h3 class="is-size-4 my-2"' }}

      </div>
    </div>
    </main>

    {% include footer.html %}
  </body>
</html>


